<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Unicorn Story</h1>
      </div>
      <div>
        <p>Unicorns aren't like other @Model.PluralNouns[0]; they're @Model.Adjectives[0]. They look like @Model.PluralNouns[1], with @Model.PluralNouns[2] for feet 
          and a @Model.Adjectives[1] mane of hair. But unicorns are @Model.Adjectives[2] and have a @Model.Adjectives[3] @Model.Nouns[0] on their heads. 
          Some @Model.PluralNouns[3] don't believe unicorns are @Model.Adjectives[4] but I believe in them. I would love to @Model.Verbs[0] a unicorn to faraway 
          @Model.PluralNouns[4]. One thing I've always @Model.Verbs[1] about is whether unicorns @Model.Verbs[2] rainbows, or is their @Model.Nouns[1] @Model.Adjectives[5] 
          like any other animal's?
        </p>
      </div>
    </div>
  </body>
</html>